In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'/Users/binodrai/Downloads/50_Startups (1).csv')

In [2]:
df.head(5)

,R&D Spend,Administration,Marketing Spend,State,Profit,Nature
0,165349.20,136897.80,471784.10,New York,192261.83,Good
1,162597.70,151377.59,443898.53,California,191792.06,Bad
2,153441.51,101145.55,407934.54,Florida,191050.39,Very Good
3,144372.41,118671.85,383199.62,New York,182901.99,Good
4,142107.34,91391.77,366168.42,Florida,166187.94,Bad

In [3]:
df = df.iloc[:,5:6]
df.head(5)

      Nature
0       Good
1        Bad
2  Very Good
3       Good
4        Bad

In [4]:
df.columns

Index(['Nature'], dtype='object')

In [6]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Good','Bad','Very Good']])
oe.fit(df)
df_encoded=oe.transform(df)

In [7]:
df_encoded

array([[0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.]])

In [8]:
df_encoded=pd.DataFrame(df_encoded,columns=df.columns)
df_encoded.head()

   Nature
0     0.0
1     1.0
2     2.0
3     0.0
4     1.0

In [9]:
df.head(5)

      Nature
0       Good
1        Bad
2  Very Good
3       Good
4        Bad